
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

:root {
  --text-color: black;
  --clr--purple: rgb(137, 17, 161);
  --dark-bg:  #1e2334;
  --background: #F5F5F5;
  --text-light: #F5F5F5;
  --link-dark: rgb(196, 55, 224);

  /*13-segment display settings*/
  --sgmnt-bgcolor: var(--dark-bg);
  --sgmnt-size: 20px;
  --sgmnt-color: var(--text-light);


  scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 1.3em;
  }
}

#root {
  min-width: 100%;
}

article a {
  color: var(--link-dark);
}
article a:hover, article a:focus-visible {
  color: var(--clr--purple);
  text-decoration: underline;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
